pre {
  font-size: 2rem;
  line-height: 1rem;
}

body {
  text-align: center;
}

a {
  font-family: sans-serif;
  font-size: 0.8rem;
  position: fixed;
  right: -67px;
  top: 40px;
  width: 15rem;
  padding: 0.25rem;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  color: black;
  background-color: #ffd007;
  transform: rotate(45deg);
}
